.delete-my {
    margin-top: 60px;
    background-color: #900101;
    padding: 7px 12px;
    border-radius: 5px;
}

@media(max-width:430px) {

    .delete-my {
        margin-top: 20px;
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .delete-my {
        margin-top: 30px;
        padding: 5px 9px;
    }
}