@use '@angular/material' as mat;

@include mat.core();

$my-app-usertasks-primary: mat.define-palette(mat.$indigo-palette);
$my-app-usertasks-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-app-usertasks-warn: mat.define-palette(mat.$red-palette);

$my-app-usertasks-theme: mat.define-light-theme((color: (primary: $my-app-usertasks-primary,
                accent: $my-app-usertasks-accent,
                warn: $my-app-usertasks-warn,
            )));

@include mat.all-component-themes($my-app-usertasks-theme);

@import url(assets/nullstyle.scss);


body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 0px 20px;
    height: 100%;
}

.conteiner {
    padding: 20px 135px;
}

.wrapper {
    max-width: 920px;
    margin: 0 auto;
    background-color: #505050;
    min-height: 100%;
}

.text-danger {
    font-size: 12px;
    text-align: center;
    color: red;
    max-width: 250px;
    line-height: 15px;
    padding-bottom: 5px;
}

.error {
    border: 2px solid red;

}

.colors {
    display: flex;
    margin-left: 20px;

    input {
        cursor: grab;
    }

    &__color-grey {
        background-color: #d9d9d9;
        margin-right: 10px;
        width: 30px;
        color: transparent;
        height: 30px;
    }

    &__color-red {
        background-color: #ff1f00;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        color: transparent;
    }

    &__color-yellow {
        background-color: #fff500;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        color: transparent;
    }
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.tasks {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 650px;
    flex-wrap: wrap;
    margin: 0 auto;


    &__block {
        background-color: #d9d9d9;
        max-width: 150px;
        max-height: 150px;
        min-width: 150px;
        min-height: 150px;
        margin: 10px 0px 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        a {
            color: #000000;
        }
    }

    &__time {
        font-family: Inter;
        font-size: 10px;
        font-weight: bold;
        color: #000;
        text-align: end;
        padding: 5px 5px 0px 0px;

    }

    &__name {
        word-break: break-all;
        font-size: 14px;
        font-weight: bold;
        padding: 10px 5px 0px 10px;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 10px;

        :first-child {
            margin: 0px 13px 0px 7px;
        }
    }
}

.grey-back {
    background-color: #D9D9D9;

}

.red-back {
    background-color: #FF0404;
}

.yellow-back {
    background-color: #FFF500;
}

.user-pass {
    display: flex;
    align-items: center;

    input {
        min-width: max-content;
        margin-left: -15px;
    }


    &__hide-show {
        margin-left: -40px;
        margin-top: -17px;

        img {
            width: 25px;
            height: 25px;
        }
    }
}

@media(max-width: 800px) {
    .conteiner {
        padding: 10px 50px;
    }
}

@media(max-width: 600px) {
    ::placeholder {
        font-size: 10px;
    }

    .conteiner {
        padding: 10px 35px;
    }

    .user-pass {
        input {

            min-width: 100px;
            margin-left: -5px;
        }
    }

    .text-danger {
        font-size: 8px;
        max-width: 100px;
        padding-bottom: 2px;
    }

    .user-pass__hide-show {
        margin-left: -20px;
        margin-top: -12px;

        img {
            width: 15px;
            height: 15px;
        }
    }
}

@media(max-width: 480px) {
    .conteiner {
        padding: 2px 25px;
    }
}

@media(max-width: 430px) {
    .tasks {
        display: block;
        max-width: none;
        flex-wrap: nowrap;
        justify-content: flex-start;

        &__block {
            background-color: #d9d9d9;
            max-width: 100%;
            max-height: 100%;
            min-width: 100%;
            min-height: 0px;
            margin: 3px 0px 0px 0px;
            flex-direction: row;
        }

        &__time {
            padding-left: 5px;
        }

        &__buttons {
            display: block;
            justify-content: flex-end;
            align-items: center;
            padding: 3px 0px;

            img {
                max-width: 35px;
            }

            :first-child {
                margin: 0px;
            }
        }
    }

    .grey-back {
        background-color: #D9D9D9;
    }

    .red-back {
        background-color: #FF0404;
    }

    .yellow-back {
        background-color: #FFF500;
    }

}

.back-inputs {
    background-color: #303030;
    color: #fff;
    font-weight: bold;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 60%;
    margin-top: 20px;
    border-radius: 15px;

    input {
        padding: 16px 0px 16px 10px;
        max-width: 100%;
        margin-bottom: 20px;
        border-radius: 5px;

        &:focus {
            border: 2px solid #AFEEEE;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 3px solid #fff;
        padding-bottom: 60px;
        min-width: 100%;

        button {
            padding: 13px 30px;
            border-radius: 5px;
            background-color: #900101;
            color: #fff;
            font-size: 20px;
            font-weight: bold;

            &:hover {
                background-color: #B22222;
            }
        }
    }

    &__title {
        font-size: 21px;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .back-inputs {
        padding: 30px 0px;
        max-width: 250px;
        margin-top: 5px;
        max-width: 60%;

        form {
            border-bottom: 2px solid #fff;
            padding-bottom: 20px;

            button {
                padding: 6px 15px;
                font-size: 14px;
            }
        }

        .delete-my {
            margin-top: 30px;

            padding: 5px 9px;

        }

        input {
            padding: 5px 0px 5px 5px;
            max-width: 100px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        &__title {
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
}

@media(max-width:430px) {
    .back-inputs {
        padding: 20px 0px;

        &__title {
            font-size: 15px;
            margin-bottom: 5px;
        }

        form {
            border-bottom: 1px solid #fff;
            padding-bottom: 10px;
        }

        .delete-my {
            margin-top: 20px;
            font-size: 10px;
        }
    }
}